header {
  background: url("https://unsplash.it/1000?image=848") no-repeat;
  background-size: cover;
  padding-bottom: 8em;
  margin-bottom: 2em;
}

header .navbar {
  padding: 10px;
}

header .navbar a {
  color: #79add8;
  text-decoration: none;
}

header .navbar a:hover {
  color: whitesmoke;
  text-decoration: none;
}

header .navbar-left {
  text-align: left;
  color: #79add8;
}

header .navbar-right {
  vertical-align: middle;
  text-align: right;
}

header .navbar-right span {
  padding: 5px 10px 0px 0px;
  color: #79add8;
}

header .header-title {
  text-align: center;
  padding-top: 40px;
  color: whitesmoke;
}

header .header-title h1 {
  font-size: 4em;
}

main .button {
  margin-right: 10px;
  cursor: pointer;
}

main .button, main .button-icon, main .button-text {
  display: inline-block;
  float: left;
}

main .button-icon, main .button-text {
  padding: 5px 8px;
}

main .button-icon {
  background-color: #083452;
  color: white;
}

main .button-text {
  background-color: #A3B3BF;
  color: white;
}

main .button:hover .button-text {
  background-color: #1774B9;
}

/*blog modifications to bootstrap*/
.row {
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
}

.sidebar-module img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-media {
  text-align: center;
  margin-bottom: 10px;
}

/*list formatting*/

ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

/*modifications to pager links*/

.pager li>a, .pager li>span {
  text-align: center;
  border: none;
  border-radius: none;
}

li p {
  display: inline-block;
  text-align: left;
  font-family: Tahoma, sans-serif;
  background-color: lightblue;
  padding: 3px;
}

/*flexbox for images in footer*/

.footer-container-flex {
  display: flex;
}

.footer-images {
  position: relative;
}

.footer-single-image {
  width: 100%;
}

.footer-single-image:hover {
  opacity: .8;
}

/*text over images in footer*/

.footer-image-caption {
  position: absolute;
  top: 9em;
  left: 0.5em;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
  font: bold 2vw Arial, sans-serif;
}

.footer-image-caption:hover {
  opacity: .8;
}

/*bottom row of footer*/

.footer-bottom {
  width: 100%;
  background-color: #043752;
}

.footer-bottom .navbar-left {
  font-size: 14px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  color: #79add8;
}

.footer-bottom .navbar-right {
  padding: 17px 0px 0px 0px;
  text-align: center;
}

.border-right {
  border-left: 2px solid #79add8;
}
